@import '../styles/utils';

.header {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem;
}
.h1 {
  font-family: $font-base;
  font-size: 1.5rem;
  font-weight: 1000;
  margin: auto 0;
  text-align: center;
}
