@import '../styles/utils';

.treeNodeContainer {
  @include flex-column;
  gap: $space-item;
}
.treeNodeItemContainer {
  display: flex;
  align-items: center;
  gap: $space-item;
}
.icon {
  width: $icon-size;
  height: $icon-size;
}

.treeNodeHover {
  border: $border-style;
  background-color: transparent;
}

.actionBtnContainer {
  display: flex;
  align-items: center;
  gap: $space-item;
}
.actionBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $black;
  @include flex-center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  img {
    width: 18px;
    height: 18px;
  }

  &:hover {
    background-color: $hover-color;
  }
}
.typeSelectionBtn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: $font-size-base;
  &:hover {
    background-color: $hover-color;
  }
}
